@use "fonts";

//
// Universal box sizing, see https://css-tricks.com/box-sizing/#aa-universal-box-sizing.
//
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: fonts.$clear-sans;
  font-size: 100%;
}
