@use "fonts";

//
// Universal box sizing, see https://css-tricks.com/box-sizing/#aa-universal-box-sizing.
//
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --letter-width: 50px;
  --letter-height: var(--letter-width);
  --letter-font-size: 1.5rem;

  --tile-width: var(--letter-width);
  --tile-height: var(--letter-height);

  --key-width: 28px;
  --key-height: 38px;
  --key-large-font-size: 0.65rem;

  --wordle-section-gap: 40px;
}

@media screen and (min-width: 600px) {
  :root {
    --letter-width: 65px;
    --letter-font-size: 2rem;

    --key-width: 45px;
    --key-height: 55px;
    --key-large-font-size: 1rem;

    --wordle-section-gap: 60px;
  }
}

.body, .prototype {
  font-family: fonts.$clear-sans;
  font-size: 100%;
}

.body {
  margin: 0;
}
