$black-1: #000;
$black-2: #1a1a1b;
$black-3: rgba(0, 0, 0, 0.85);
$gray-1: #d3d6da;
$gray-2: #787c7e;
$gray-3: #999;
$green: #6aaa64;
$yellow: #c9b458;
$white: #fff;

$correct: $green;
$possible: $yellow;
$impossible: $gray-2;
