@use "../colors";

/*button*/.key {
  --key-width: 45px;
  --key-background-color: #{colors.$gray-1};
  --key-color: #{colors.$black-2};

  // Reset button styles
  border: 0;
  padding: 0;

  // Size
  width: var(--key-width);
  height: 55px;

  // Shape
  border-radius: 4px;

  // Layout
  display: flex;
  align-items: center;
  justify-content: center;

  // Typography
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;

  // Color
  background-color: var(--key-background-color);
  color: var(--key-color);

  // Interaction
  cursor: pointer;

  // Transition
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

// Modifier: Size

.key--large {
  width: calc(1.5 * var(--key-width));
}

// Modifier: Color

.key--color--correct {
  --key-background-color: #{colors.$correct};
  --key-color: #{colors.$white};
}

.key--color--possible {
  --key-background-color: #{colors.$possible};
  --key-color: #{colors.$white};
}

.key--color--impossible {
  --key-background-color: #{colors.$impossible};
  --key-color: #{colors.$white};
}
