@use "../colors";

$width: 62px;
$height: $width;

.letter {
  --letter-background-color: #{colors.$white};
  --letter-color: #{colors.$black-1};

  // Size
  width: $width;
  height: $height;

  // Shape
  border: 2px solid colors.$gray-3;

  // Layout
  display: flex;
  align-items: center;
  justify-content: center;

  // Typography
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;

  // Color
  background-color: var(--letter-background-color);
  color: var(--letter-color);
}

.letter:empty {
  border-color: colors.$gray-1;
}

// Modifier: Color

.letter--color--correct {
  --letter-background-color: #{colors.$green};
  --letter-color: #{colors.$white};
}

.letter--color--possible {
  --letter-background-color: #{colors.$yellow};
  --letter-color: #{colors.$white};
}

.letter--color--impossible {
  --letter-background-color: #{colors.$gray-2};
  --letter-color: #{colors.$white};
}

.letter--color--correct,
.letter--color--possible,
.letter--color--impossible {
  border: 0;
}
