@use "../colors";

.letter {
  --letter-background-color: #{colors.$white};
  --letter-color: #{colors.$black-1};

  // Size
  width: 100%;
  height: 100%;

  // Shape
  border: 2px solid colors.$gray-3;

  // Layout
  display: flex;
  align-items: center;
  justify-content: center;

  // Typography
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;

  // Color
  background-color: var(--letter-background-color);
  color: var(--letter-color);
}

.letter:empty {
  border-color: colors.$gray-1;
}

// Modifier: Result

.letter--result--correct {
  --letter-background-color: #{colors.$correct};
}

.letter--result--possible {
  --letter-background-color: #{colors.$possible};
}

.letter--result--impossible {
  --letter-background-color: #{colors.$impossible};
}

.letter--result--correct,
.letter--result--possible,
.letter--result--impossible {
  --letter-color: #{colors.$white};
  border: 0;
}
