@use "../colors";

.letter {
  // Size
  width: var(--letter-width);
  height: var(--letter-height);

  // Shape
  border: 2px solid colors.$gray-3;

  // Layout
  display: flex;
  align-items: center;
  justify-content: center;

  // Typography
  font-weight: 700;
  font-size: var(--letter-font-size);
  text-transform: uppercase;

  // Color
  background-color: colors.$white;
  color: colors.$black-1;
}

.letter:empty {
  border-color: colors.$gray-1;
}

// Modifier: Result

.letter--result--correct {
  background-color: colors.$correct;
}

.letter--result--possible {
  background-color: colors.$possible;
}

.letter--result--impossible {
  background-color: colors.$impossible;
}

.letter--result--correct,
.letter--result--possible,
.letter--result--impossible {
  color: colors.$white;
  border: 0;
}
