@use "../colors";

.message {
  // Color
  background-color: colors.$black-3;
  color: colors.$white;

  // Shape
  display: inline-block;
  border-radius: 4px;
  padding: var(--message-padding-vertical) var(--message-padding-horizontal);

  // Typography
  font-weight: 600;
  font-size: var(--message-font-size);
}
