@use "../colors";

.wordle {
  min-width: 270px;
}

.wordle__header {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid colors.$gray-1;
}

.wordle__guesses {
  display: flex;
  justify-content: center;
}

.wordle__header, .wordle__guesses, .wordle__keyboard {
  margin-bottom: var(--wordle-section-gap);
}

// Message

.wordle {
  position: relative;
}

.wordle__message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: 60px;

  opacity: 0;
  visibility: hidden;

  transition: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.wordle__message--open {
  opacity: 1;
  visibility: visible;
}
