@use "../colors";

.wordle {
  min-width: 360px;
}

.wordle__header {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid colors.$gray-1;
}

.wordle__guesses {
  display: flex;
  justify-content: center;
}

.wordle__header, .wordle__guesses, .wordle__keyboard {
  margin-bottom: var(--wordle-section-gap);
}
